body {
    background-color: #2f2b2b;
    color: #C7C7C7;
    font-family: TE20T;
    margin: 0;
}

#waveform-final region {
    border-right: 1px solid white;
    z-index: 3 !important
}

#waveform-zoom region {
    border-right: 1px solid white;
    border-left: 1px solid white;
    z-index: 3 !important
}


/* .wavesurfer-region {
    background-color: rgba(108, 108, 132, 0.39) !important;
} */

button, select{
    border-radius: 3px;
    height: 30px;
    width: 100px;
    border: solid 1px;
    background: transparent;
    margin: 5px;
    border-color: white;
    color: white;
    font-family: TE20T;
}

button:disabled {
    border-color: #7d7878;
    color: #7d7878;
}

select {
color: #c3c3c3
}

option {
    color: black;
}

#app-content {
    filter: blur(5px);
    margin: 1vh 1vw;
    position: absolute;
}

#cover {
 height: 100vh;
 width: 100vw;
 position: absolute;
 z-index: 5;
 opacity: 0.5;
 background: black;
 display: block
}

#cover-2 {
    display: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 5;
    background: rgba(1, 1, 1, 0.5);
}

#created-sample-window {
    width: 30vw;
    height: 20vh;
    background: rgb(47, 43, 43);
    position: absolute;
    top: 40vh;
    left: 35vw;
    border: solid 1px #6f6f6f;
    justify-content: center;
    align-items: center;
    display: flex
}

#created-sample-exit {
    font-weight: bold;
    font-size: larger;
    position: absolute;
    top: 1vh;
    right: 1vw;
    cursor: pointer;
}

  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#loader-container {
    margin: 35vh auto 0 auto;
    width: 15vw;
}

#loader-msg {
    width: 30vw;
    margin: 2vh auto;
    font-size: large;
    text-align: center;
    /* font-weight: bold; */
}

#te-t {
    background: url('../images/te-logo-T.png');
    width: 7vw;
    height: 7vw;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

#te-o {
    background: url('../images/te-logo-O.png');
    width: 7vw;
    height: 6.0828vw;
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin 2s linear infinite;
    display: inline-block;
}

#regions-info {
    background: black;
    width: 19%;
    position: absolute;
    right: 1.5vw;
    top: 1vh;
    height: 15vh;
    border: solid 1px #6f6f6f;
}

.info-msg {
    height: 33%;
    font-size: 110%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

#loading-msg {
    
}

#sample-cntr {

}

#drum-class {

}

#jap-logo {
    background: url(../images/jap-logo.png);
}

#sample-counter {
    font-size: larger;
    padding: 0 150px;
    font-weight: bold;
}

#panel-0 {
    width: 99vw;
    height: 10vh;
}

#panel-1 {
    width: 100%;
    height: 22vh;
}

#panel-2 {
    width: 100%;
    height: 22vh;
}

#zoom-sample-length-msg {
    margin: 5px;
    background: black;
    font-weight: bold;
    height: 4vh;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border: solid 1px #6f6f6f;
}

#panel-3 {
    width: 100%;
    height: 22vh;
}

#final-sample-length-msg {
    margin: 5px;
    background: black;
    color: #518e53;
    font-weight: bold;
    height: 4vh;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border: solid 1px #6f6f6f;
}

#panel-4 {
    height: 21vh;
}

#opz-keyboard-layer-1 {
    height: 15.59vh;
    width: 127vh;
    font-size: 0;
    position: relative;
    border: solid 1px #C7C7C7;
}

#opz-keyboard-layer-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/opz-keyboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

.opz-key-background {
    width: 3.5714%;
    height: 100%;
    display: inline-block;
}

.black-key {
    background-color: #C7C7C7;
    /* background-color: #89bd82; */
}

.white-key {
    background-color: #C7C7C7;
    /* background-color: #2f2b2b; */
    /* background-color: #4e6d49; */
}

#waveform {
    display: inline-block;
    float: left;
    width: 75%;
    /* padding: 1vh 1vh; */
    border: solid 1px #f57047;
}

#upload-msg {
    color: #ffffff;
    display: inline-block;
    margin-left: 2vw;
}

#upload-field {
    width: 30vw;
    height: 8vh;
    border: solid 1px #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#logo-container {
    background: url(../images/te-logo.png);
    width: 10vw;
    height: 8vh;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
}

#sample-btn-holder {
    display: inline-block;
    float: right;
    margin: 8vh 1vw 0 0;
    width: 20%;
}

#melodic-btn-holder {

}

#waveform-zoom {
    display: inline-block;
    float: left;
    width: 75%;
    padding-bottom: 3px;
    border: solid 1px #6f6f6f;
}

#waveform-final {
    display: inline-block;
    float: left;
    width: 75%;
    border: solid 1px #6f6f6f;
}

#keep-btn-holder{
    display: inline-block;
    float: right;
    margin: 0 1vw 0 0;
    width: 20%;
}

#save-btn-holder{
    display: inline-block;
    float: right;
    margin: 0 1vw 0 0;
    width: 20%;
}

wave::-webkit-scrollbar {
    height: 5px;
}

wave::-webkit-scrollbar-thumb {
    background-color: #518e53;

}












